Repository timelygator/TimelyGator, pull requests merged in 2025-02, with the labels that each got.

#27 Initial Template Created and Modified
  .gitignore
  web-ui/.eslintrc.cjs
  web-ui/index.html
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/postcss.config.js
  web-ui/public/calendar-range.svg
  web-ui/public/facebook.svg
  web-ui/public/github.png
  web-ui/public/google.png
  web-ui/public/profile pic for various.jpg
  web-ui/public/vite.svg
  web-ui/public/x.png
  web-ui/src/App.jsx
  web-ui/src/components/analytics/AIPoweredInsights.jsx
  web-ui/src/components/analytics/ChannelPerformance.jsx
  web-ui/src/components/analytics/CustomerSegmentation.jsx
  web-ui/src/components/analytics/OverviewCards.jsx
  web-ui/src/components/analytics/ProductPerformance.jsx
  web-ui/src/components/analytics/RevenueChart.jsx
  web-ui/src/components/analytics/UserRetention.jsx
  web-ui/src/components/common/Header.jsx
  web-ui/src/components/common/Sidebar.jsx
  web-ui/src/components/common/StatCard.jsx
  web-ui/src/components/orders/DailyOrders.jsx
  web-ui/src/components/orders/OrderDistribution.jsx
  web-ui/src/components/orders/OrdersTable.jsx
  web-ui/src/components/overview/CategoryDistributionChart.jsx
  web-ui/src/components/overview/UsageOverviewChart.jsx
  web-ui/src/components/overview/WebsiteDis.jsx
  web-ui/src/components/products/ProductsTable.jsx
  web-ui/src/components/products/SalesTrendChart.jsx
  web-ui/src/components/sales/DailySalesTrend.jsx
  web-ui/src/components/sales/SalesByCategoryChart.jsx
  web-ui/src/components/sales/SalesOverviewChart.jsx
  web-ui/src/components/settings/ConnectedAccounts.jsx
  web-ui/src/components/settings/DangerZone.jsx
  web-ui/src/components/settings/Notifications.jsx
  web-ui/src/components/settings/Profile.jsx
  web-ui/src/components/settings/Security.jsx
  web-ui/src/components/settings/SettingSection.jsx
  web-ui/src/components/settings/ToggleSwitch.jsx
  web-ui/src/components/tabs/TabActivityHeatmap.jsx
  web-ui/src/components/tabs/TabDemographicsChart.jsx
  web-ui/src/components/tabs/TabGrowthChart.jsx
  web-ui/src/components/tabs/TabTable.jsx
  web-ui/src/index.css
  web-ui/src/main.jsx
  web-ui/src/pages/AnalyticsPage.jsx
  web-ui/src/pages/OrdersPage.jsx
  web-ui/src/pages/OverviewPage.jsx
  web-ui/src/pages/ProductsPage.jsx
  web-ui/src/pages/SalesPage.jsx
  web-ui/src/pages/SettingsPage.jsx
  web-ui/src/pages/TabsPage.jsx
  web-ui/tailwind.config.js
  web-ui/vite.config.js
Labels: frontend, sprint-1

#15 Create Event Model
  server/go.mod
  server/go.sum
  server/models/models.go
Labels: enhancement, backend

#35 Add GORM-based SQLite Datastore Implementation
  server/database/database.go
  server/tg-core/core/dirs.go
Labels: enhancement, backend, database

#17 feat: implemented swagger docs
  server/cmd/root.go
  server/docs/docs.go
  server/docs/swagger.json
  server/docs/swagger.yaml
  server/go.mod
  server/go.sum
  server/main.go
  server/middleware/error.go
  server/routes/routes.go
  server/server.go
Labels: documentation, backend, sprint-1

#21 docs: add sprint 1 information
  docs/sprint/Sprint1.md
Labels: documentation, user-story, sprint-1

#45 Cherry Pick commits from #42 and #43 to resolve conflicts
  server/.env.sample
  server/api/api.go
  server/api/routes.go
  server/cmd/root.go
  server/database/database.go
  server/database/models/models.go
  server/docs/docs.go
  server/docs/swagger.json
  server/docs/swagger.yaml
  server/go.mod
  server/go.sum
  server/main.go
  server/middleware/error.go
  server/middleware/errors/errors.go
  server/models/models.go
  server/routes/routes.go
  server/tg-core/core/dirs.go
  server/utils/types/types.go
  server/utils/utils.go
Labels: backend, database, sprint-2, refactor
